<div style="text-align: center; background-color: rgb(0, 110, 255); color: white;">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome do Produtos</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Marca</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Marca</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fabricante</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quantidade</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
    </div>
    

    <table class="table" style="color: white;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>


</div>